<mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
</mat-list>

<mat-list>
    <a mat-list-item href="#home">Home</a>
    <a mat-list-item href="#about">About</a>
    <a mat-list-item href="#service">Service</a>
</mat-list>

<mat-list>
    <mat-list-item>
        <mat-icon matListItemIcon>home</mat-icon>
        <h3 matListItemLine>Heading</h3>
        <p matListItemLine>Line</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <h3 matListItemLine>Heading 2</h3>
        <p matListItemLine>Line 2</p>
    </mat-list-item>
</mat-list>