<mat-accordion multi="true" hideToggle="">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Angular Fundamentals</mat-panel-title>
            <mat-panel-description>Course Duration: 5 Hr</mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is panel content, add row details.</p>
        <mat-action-row>
            <button mat-raised-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Angular Material</mat-panel-title>
            <mat-panel-description>Course Duration: 2 Hr</mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is panel content, add row details.</p>
        <mat-action-row>
            <button mat-raised-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>